

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
main>.container-fluid {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bgImage {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background: url(/img/GridBG.png)
}
.bgImageTwo {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background: url(/img/kaPwu0d.png)
}
.bgImageThree {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background: url(/img/4IpKG13.png)
}

.titleText {
    font-family: 'Electrolize', cursive;
    font-size: 3em;
    text-transform: uppercase;
    color: red;
}

.minHeight{
    min-height: 80vh;
}

.column {
    float: left;
    width: 50%
}